# JavaScript
node_modules

# Example metrics
metrics-*.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# go.sum should be committed
!go.sum

# CDK asset staging directory
.cdk.staging
cdk.out

# ENV vars
*.env

# Binary output from `go build` in the infra/ dir
infra.bin
infra
